    <div id="album-form">

          <fieldset>

            <!-- Form Name -->
            <h2 id="newAlbum">Add Tracks</h2>
            <form method="POST" action="/albums/{{album._id}}" class="form-horizontal">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="trackNumber">Track #:</label>
              <div class="col-md-4">
                <input id="name" name="trackNumber" type="text" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="title">Title:</label>
              <div class="col-md-4">
              <input id="textinput" name="title" type="text" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="duration">Duration:</label>
              <div class="col-md-4">
              <input id="releaseDate" name="duration" type="text" class="form-control input-md">
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <div class="text-center">
                <form method="POST" action="/albums/{{album._id}}">
                  <button id="saveAlbumBtn">Save Tracks</button>
                <form>
              </div>
            </div>

        </form>

      </fieldset>

    </div>
