<div id="blank_canvas">
	<div id="search_bar_div text-center">
		<form id="search_bar_form" action="/search" method="get">
		<input type="text" name="artistName" placeholder="Search by Artist" class="form-control" id="search-bar">
		<input type="submit" value="Search" class="btn btn-default" id="search-button">
		</form>
	</div>
	<hr>
	{{#each albums}}
	<p> {{name}} {{artistName}} {{releaseDate}} </p>
	{{/each}}
</div>